In [38]:
from get_prediction_data import *
import pandas as pd
import numpy as np
import requests
from datetime import datetime
from pytz import timezone
from format_train_test import *

In [40]:
get_prediction_data(46059)

In [41]:
prediction_df = clean_prediction_data('../data/data_for_prediction.csv')
prediction_df = adding_speed_col(prediction_df, 650)
prediction_df = add_time_delta(prediction_df)
prediction_df = add_time_y(prediction_df)
prediction_df = round_time_y(prediction_df)

In [42]:
cols_to_keep = ['YY', 'MM', 'DD', 'hh', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
                'APD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 't_arrive']

X_real_time_predictions = prediction_df[cols_to_keep].values

In [49]:
get_prediction_data(46059)

In [53]:
data = pd.read_csv('../data/data_for_prediction_46059.csv', sep='\s+', header=[1])

In [54]:
cols = ['YY', 'MM','DD','hh','mm','WDIR','WSPD','GST','WVHT','DPD','APD','MWD',
        'PRES','ATMP','WTMP','DEWP','VIS','PTDY','TIDE']
data.columns = cols
dates_temp = data[['YY','MM','DD','hh']].values
new_date = [datetime.datetime(*x) for x in dates_temp]
data['Date'] = new_date

In [58]:
data.replace('MM', np.nan)

,YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,PTDY,TIDE,Date
0,2018,1,31,23,50,100,3.0,5.0,2.0,11,8.5,317,1023.3,12.9,14.0,9.4,NaN,NaN,NaN,2018-01-31 23:00:00
1,2018,1,31,23,10,100,4.0,5.0,NaN,NaN,NaN,NaN,1023.2,12.9,14.0,9.2,NaN,NaN,NaN,2018-01-31 23:00:00
2,2018,1,31,23,0,90,3.0,5.0,NaN,NaN,NaN,NaN,1023.0,12.9,14.0,9.3,NaN,-2.3,NaN,2018-01-31 23:00:00
3,2018,1,31,22,50,90,3.0,4.0,2.0,12,8.5,317,1023.4,12.9,14.0,9.3,NaN,NaN,NaN,2018-01-31 22:00:00
4,2018,1,31,22,40,90,3.0,4.0,2.0,NaN,8.5,317,1023.5,12.9,14.0,9.5,NaN,NaN,NaN,2018-01-31 22:00:00
5,2018,1,31,22,30,80,4.0,6.0,NaN,NaN,NaN,NaN,1023.6,12.8,14.0,9.5,NaN,NaN,NaN,2018-01-31 22:00:00
6,2018,1,31,22,20,90,4.0,6.0,NaN,NaN,NaN,NaN,1023.1,12.8,14.0,9.4,NaN,NaN,NaN,2018-01-31 22:00:00
7,2018,1,31,22,10,90,3.0,5.0,NaN,NaN,NaN,NaN,1023.7,12.8,14.0,9.4,NaN,NaN,NaN,2018-01-31 22:00:00
8,2018,1,31,22,0,90,2.0,3.0,NaN,NaN,NaN,NaN,1023.9,12.9,14.0,9.3,NaN,-1.7,NaN,2018-01-31 22:00:00
9,2018,1,31,21,50,80,3.0,5.0,1.9,12,8.6,323,1023.9,12.8,14.0,9.2,NaN,NaN,NaN,2018-01-31 21:00:00
10,2018,1,31,21,40,90,4.0,5.0,1.9,NaN,8.6,323,1023.8,12.9,14.0,9.5,NaN,NaN,NaN,2018-01-31 21:00:00
11,2018,1,31,21,30,90,3.0,4.0,NaN,NaN,NaN,NaN,1023.9,13.0,14.0,9.4,NaN,NaN,NaN,2018-01-31 21:00:00
12,2018,1,31,21,20,90,3.0,4.0,NaN,NaN,NaN,NaN,1024.4,12.9,13.9,9.4,NaN,NaN,NaN,2018-01-31 21:00:00
13,2018,1,31,21,10,90,4.0,5.0,NaN,NaN,NaN,NaN,1024.3,12.9,14.0,9.5,NaN,NaN,NaN,2018-01-31 21:00:00
14,2018,1,31,21,0,90,4.0,6.0,NaN,NaN,NaN,NaN,1024.4,12.9,NaN,9.2,NaN,-0.8,NaN,2018-01-31 21:00:00
15,2018,1,31,20,50,100,3.0,4.0,2.0,13,8.6,319,1024.8,12.9,14.0,9.1,NaN,NaN,NaN,2018-01-31 20:00:00
16,2018,1,31,20,40,90,3.0,5.0,2.0,NaN,8.6,319,1024.9,12.9,14.0,9.1,NaN,NaN,NaN,2018-01-31 20:00:00
17,2018,1,31,20,30,90,4.0,5.0,NaN,NaN,NaN,NaN,1024.9,12.9,13.9,9.2,NaN,NaN,NaN,2018-01-31 20:00:00
18,2018,1,31,20,20,90,4.0,5.0,NaN,NaN,NaN,NaN,1025.0,12.9,13.9,9.2,NaN,NaN,NaN,2018-01-31 20:00:00
19,2018,1,31,20,10,90,3.0,5.0,NaN,NaN,NaN,NaN,1025.2,12.9,13.9,9.2,NaN,NaN,NaN,2018-01-31 20:00:00
20,2018,1,31,20,0,80,3.0,5.0,NaN,NaN,NaN,NaN,1025.4,12.9,13.9,9.2,NaN,+0.5,NaN,2018-01-31 20:00:00
21,2018,1,31,19,50,100,3.0,4.0,2.4,13,9.1,325,1025.3,13.0,13.9,9.3,NaN,NaN,NaN,2018-01-31 19:00:00
22,2018,1,31,19,40,100,2.0,4.0,2.4,NaN,9.1,325,1025.5,13.0,13.9,9.1,NaN,NaN,NaN,2018-01-31 19:00:00
23,2018,1,31,19,30,100,3.0,4.0,NaN,NaN,NaN,NaN,1025.9,12.9,13.9,9.0,NaN,NaN,NaN,2018-01-31 19:00:00
24,2018,1,31,19,20,100,3.0,5.0,NaN,NaN,NaN,NaN,1025.5,12.9,13.9,9.1,NaN,NaN,NaN,2018-01-31 19:00:00
25,2018,1,31,19,10,90,3.0,5.0,NaN,NaN,NaN,NaN,1025.5,12.9,13.9,9.2,NaN,NaN,NaN,2018-01-31 19:00:00
26,2018,1,31,19,0,90,3.0,5.0,NaN,NaN,NaN,NaN,1025.6,12.9,13.9,9.1,NaN,+0.6,NaN,2018-01-31 19:00:00
27,2018,1,31,18,50,80,3.0,5.0,2.1,13,9.0,321,1025.5,12.8,13.9,8.9,NaN,NaN,NaN,2018-01-31 18:00:00
28,2018,1,31,18,40,80,3.0,5.0,2.1,NaN,9.0,321,1025.6,12.8,13.9,8.8,NaN,NaN,NaN,2018-01-31 18:00:00
29,2018,1,31,18,30,90,3.0,4.0,NaN,NaN,NaN,NaN,1025.7,12.8,13.9,9.0,NaN,NaN,NaN,2018-01-31 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6540,2017,12,17,4,50,10,8.0,10.0,2.4,12,6.5,312,1028.1,13.4,15.2,9.6,NaN,NaN,NaN,2017-12-17 04:00:00
6541,2017,12,17,4,40,360,8.0,10.0,NaN,NaN,NaN,NaN,1028.1,13.4,15.2,9.6,NaN,NaN,NaN,2017-12-17 04:00:00
6542,2017,12,17,4,30,10,8.0,10.0,NaN,NaN,NaN,NaN,1028.0,13.4,15.2,9.5,NaN,NaN,NaN,2017-12-17 04:00:00
6543,2017,12,17,4,20,10,8.0,10.0,NaN,NaN,NaN,NaN,1028.1,13.3,15.2,9.3,NaN,NaN,NaN,2017-12-17 04:00:00
6544,2017,12,17,4,10,360,8.0,10.0,NaN,NaN,NaN,NaN,1028.3,13.4,15.2,9.5,NaN,NaN,NaN,2017-12-17 04:00:00
6545,2017,12,17,4,0,360,8.0,10.0,NaN,NaN,NaN,NaN,1028.5,13.4,15.2,9.4,NaN,+0.0,NaN,2017-12-17 04:00:00
6546,2017,12,17,3,50,360,9.0,11.0,2.3,13,6.5,310,1028.6,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 03:00:00
6547,2017,12,17,3,40,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.6,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 03:00:00
6548,2017,12,17,3,30,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.7,13.4,15.2,9.2,NaN,NaN,NaN,2017-12-17 03:00:00
6549,2017,12,17,3,20,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.9,13.4,15.2,9.4,NaN,NaN,NaN,2017-12-17 03:00:00
6550,2017,12,17,3,10,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.1,NaN,NaN,NaN,2017-12-17 03:00:00
6551,2017,12,17,3,0,360,8.0,11.0,NaN,NaN,NaN,NaN,1028.7,13.4,15.2,9.3,NaN,-0.0,NaN,2017-12-17 03:00:00
6552,2017,12,17,2,50,360,8.0,10.0,2.3,8,6.4,40,1028.8,13.4,15.2,9.5,NaN,NaN,NaN,2017-12-17 02:00:00
6553,2017,12,17,2,40,10,9.0,11.0,2.3,NaN,6.4,40,1028.7,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 02:00:00
6554,2017,12,17,2,30,360,8.0,10.0,NaN,NaN,NaN,NaN,1028.7,13.4,15.2,9.2,NaN,NaN,NaN,2017-12-17 02:00:00
6555,2017,12,17,2,20,360,8.0,11.0,NaN,NaN,NaN,NaN,1028.7,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 02:00:00
6556,2017,12,17,2,10,360,8.0,10.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 02:00:00
6557,2017,12,17,2,0,360,8.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.2,NaN,-0.0,NaN,2017-12-17 02:00:00
6558,2017,12,17,1,50,360,8.0,11.0,2.4,12,6.4,299,1028.8,13.4,15.2,9.2,NaN,NaN,NaN,2017-12-17 01:00:00
6559,2017,12,17,1,40,360,8.0,11.0,2.4,NaN,6.4,299,1028.8,13.4,15.2,9.2,NaN,NaN,NaN,2017-12-17 01:00:00
6560,2017,12,17,1,30,360,8.0,11.0,NaN,NaN,NaN,NaN,1028.7,13.3,15.2,9.0,NaN,NaN,NaN,2017-12-17 01:00:00
6561,2017,12,17,1,20,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.1,NaN,NaN,NaN,2017-12-17 01:00:00
6562,2017,12,17,1,10,10,8.0,10.0,NaN,NaN,NaN,NaN,1028.7,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 01:00:00
6563,2017,12,17,1,0,10,9.0,11.0,NaN,NaN,NaN,NaN,1028.5,13.4,15.2,9.1,NaN,-1.0,NaN,2017-12-17 01:00:00
6564,2017,12,17,0,50,360,9.0,11.0,2.5,12,6.7,299,1028.6,13.4,15.2,9.1,NaN,NaN,NaN,2017-12-17 00:00:00
6565,2017,12,17,0,40,360,9.0,11.0,2.5,NaN,6.7,299,1028.8,13.4,15.2,9.1,NaN,NaN,NaN,2017-12-17 00:00:00
6566,2017,12,17,0,30,360,9.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 00:00:00
6567,2017,12,17,0,20,10,9.0,11.0,NaN,NaN,NaN,NaN,1028.9,13.4,15.2,9.3,NaN,NaN,NaN,2017-12-17 00:00:00
6568,2017,12,17,0,10,10,9.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,NaN,9.1,NaN,NaN,NaN,2017-12-17 00:00:00
6569,2017,12,17,0,0,10,9.0,11.0,NaN,NaN,NaN,NaN,1028.8,13.4,15.2,9.3,NaN,-1.2,NaN,2017-12-17 00:00:00

In [47]:
allcols = data.columns

In [48]:
pred_test = data[data[allcols] != 'MM']

In [35]:
cols_to_numerics = ['WDIR', 'WSPD', 'GST', 'WVHT', 'DPD','APD', 'MWD',
                    'PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'PTDY', 'TIDE']
pred_test[cols_to_numerics] = pred_test[cols_to_numerics].apply(pd.to_numeric)
pred_test = pred_test.interpolate(method='linear', axis=0).bfill()

In [36]:
data_X = pred_test.copy()
data_X.index = data_X['Date']

tz = timezone('US/Pacific')
data_X.index = data_X.index.tz_localize('UTC').tz_convert(tz)
data_X['TempDate'] = data_X.index
data_X['YY'] = data_X['TempDate'].apply(lambda x: x.year)
data_X['MM'] = data_X['TempDate'].apply(lambda x: x.month)
data_X['DD'] = data_X['TempDate'].apply(lambda x: x.day)
data_X['hh'] = data_X['TempDate'].apply(lambda x: x.hour)

data_X.index = data_X.index.tz_localize(None)

In [37]:
data_X.head()

,YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,...,MWD,PRES,ATMP,WTMP,DEWP,VIS,PTDY,TIDE,Date,TempDate
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-31 14:00:00,2018,1,31,14,20,90.0,4.0,6.0,1.9,12.000000,...,323.0,1023.1,12.8,14.0,9.4,NaN,-1.70,NaN,2018-01-31 22:00:00,2018-01-31 14:00:00-08:00
2018-01-31 14:00:00,2018,1,31,14,10,90.0,3.0,5.0,1.9,12.000000,...,323.0,1023.7,12.8,14.0,9.4,NaN,-1.70,NaN,2018-01-31 22:00:00,2018-01-31 14:00:00-08:00
2018-01-31 14:00:00,2018,1,31,14,0,90.0,2.0,3.0,1.9,12.000000,...,323.0,1023.9,12.9,14.0,9.3,NaN,-1.70,NaN,2018-01-31 22:00:00,2018-01-31 14:00:00-08:00
2018-01-31 13:00:00,2018,1,31,13,50,80.0,3.0,5.0,1.9,12.000000,...,323.0,1023.9,12.8,14.0,9.2,NaN,-1.55,NaN,2018-01-31 21:00:00,2018-01-31 13:00:00-08:00
2018-01-31 13:00:00,2018,1,31,13,40,90.0,4.0,5.0,1.9,12.166667,...,323.0,1023.8,12.9,14.0,9.5,NaN,-1.40,NaN,2018-01-31 21:00:00,2018-01-31 13:00:00-08:00

In [19]:
cols_to_keep = ['YY', 'MM', 'DD', 'hh', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
                'APD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 't_arrive']

X_real_time_predictions = prediction_df[cols_to_keep].values

In [5]:
X_real_time_predictions

array([[  2.01800000e+03,   1.00000000e+00,   3.10000000e+01, ...,
          1.26000000e+01,              nan,   1.34469338e+01],
       [  2.01800000e+03,   1.00000000e+00,   3.10000000e+01, ...,
          1.25000000e+01,              nan,   1.31413216e+01],
       [  2.01800000e+03,   1.00000000e+00,   3.10000000e+01, ...,
          1.24000000e+01,              nan,   1.34469338e+01],
       ...,
       [  2.01700000e+03,   1.20000000e+01,   1.60000000e+01, ...,
          1.25000000e+01,              nan,   1.65205186e+01],
       [  2.01700000e+03,   1.20000000e+01,   1.60000000e+01, ...,
          1.25000000e+01,              nan,   1.58415932e+01],
       [  2.01700000e+03,   1.20000000e+01,   1.60000000e+01, ...,
          1.25000000e+01,              nan,   1.60616153e+01]])